
.descripcion{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.image-container {
    width: 200px; /* Ancho del área visible */
    height: 200px; /* Alto del área visible */
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.image{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover; /* Ajusta el contenido para llenar el contenedor */
    object-position: center top;
}
.detailImg{
    height: 400px;
    width: auto;
}
.list-group-item {
    display: flex;
    justify-content: space-between;

}
.list-group-item > p{
    margin-bottom: 0px;
}